<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="/not-found.html" responseMode="File" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="404 Redirect" stopProcessing="true">
          <match url="^not-found\.html$" />
          <action type="CustomResponse" statusCode="404" statusReason="Not Found" statusDescription="The requested page could not be found." />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
