<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="/not-found.html" responseMode="File" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="404 Redirect" stopProcessing="true">
          <match url="^not-found\.html$" />
          <action type="CustomResponse" statusCode="404" statusReason="Not Found" statusDescription="The requested page could not be found." />
        </rule>

        <rule name="Redirect about to aboutus" stopProcessing="true">
          <match url="^about\.html$" />
          <action type="Redirect" url="/aboutus.html" redirectType="Permanent" />
        </rule>

        <rule name="Redirect contact to contactus" stopProcessing="true">
          <match url="^contact\.html$" />
          <action type="Redirect" url="/contactus.html" redirectType="Permanent" />
        </rule>

        <rule name="Redirect corporate-transport-solutions-dubai to corporate-transport-solutions" stopProcessing="true">
          <match url="^corporate-transport-solutions-dubai\.html$" />
          <action type="Redirect" url="/corporate-transport-solutions.html" redirectType="Permanent" />
        </rule>

        <rule name="Remove www" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^www\.(.*)" />
          </conditions>
          <action type="Redirect" url="http://{C:1}/{R:1}" redirectType="Permanent" />
        </rule>

        <rule name="Remove trailing slash" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
  </system.webServer>
</configuration>
